<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>β</title>
    <style>
        body {
            margin:0;
            padding:0;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.core.min.js"></script>
</head>
<body>
    <a href="/">β-step</a> | <a href="/upload">upload</a> | <b>listen</b><br><br><br>
    <div class="list">
        <!--<div class="entry"><div class="filename">Name</div> <div class="size">Size</div></div>-->
    {{ range .}}    
        <a class="entry" href="#" onclick="play('/test/' + '{{.Name}}')">
            <div class="filename">{{ .Name }}&nbsp;{{ .Size }} MB</div>
        </a>
        <br>
    {{ end }}
    </div>
    <script>
       function play(url) {
         console.log(url)

         const sound = new Howl({
              src: [encodeURI(url)]
         })

         sound.play()
       }
    </script>
</body>
</html>