<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>β</title>
    <style>
        body {
            margin:0;
            padding:0;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.core.min.js"></script>
</head>
<body>
    <a href="/">β-step</a> | <a href="/upload">upload</a> | <b>listen</b><br><br><br>

<hr>
    <div id="nowplaying">Stopped</div>
    <a href="#" onclick="play()"> Play </a> |
    <a href="#" onclick="pause()">Pause</a><br>
    <hr>
    <tracks>
    <div class="list">
        <!--<div class="entry"><div class="filename">Name</div> <div class="size">Size</div></div>-->
    {{ range .}}    
        <a class="entry" href="#" onclick="addToQueue('{{.Name}}')">
            <div class="filename">{{ .Name }}&nbsp;{{ .Size }} MB</div>
        </a>
        <br>
    {{ end }}
    </div>
    
    <script>
        function Queue(){var a=[],b=0;this.getLength=function(){return a.length-b};this.isEmpty=function(){return 0==a.length};this.enqueue=function(b){a.push(b)};this.dequeue=function(){if(0!=a.length){var c=a[b];2*++b>=a.length&&(a=a.slice(b),b=0);return c}};this.peek=function(){return 0<a.length?a[b]:void 0}};

        const tracklist = [{{ range .}} {{.Name}}, {{end}} null]

        let q = new Queue()    
        let currentSound = null
        let paused = false

        function addToQueue(url) {
            q.enqueue(url)
        }

        function pause() {
            currentSound.pause()
            paused = true
        }

        function play() {
            if(currentSound !== null && paused)
                currentSound.play()
            else if(!q.isEmpty()) {
                paused = false


                const url = q.dequeue()

                document.getElementById("nowplaying").innerHTML = "Now playing: " + url
                currentSound = new Howl({
                    src: [encodeURI('static/' + url)]
                })

                currentSound.play()

                currentSound.on('end',  play)
            }
        }
    </script>
</body>
</html>